<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Team Best Ranch Ranking List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="styles/rankings.css" rel="stylesheet" />
        <link href="styles/navbar.css" rel="stylesheet" />
        <link href="styles/styles.css" rel="stylesheet" />
		
		<style>
.checked {
  color: orange;
}
</style>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.close {
  position: absolute;
  
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>

    </head>
    <body>
	
	<br>
	<br>
	<br>
	<br>


	
<div class="container-fluid" >
 <br>
 <br>
 <br>
  <div class="row ">
    <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture1.jpg" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id01" class="w3-modal">
             <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture1.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture1.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture1.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture1.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>


        <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture2.jpg" onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id02" class="w3-modal">
               <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture2.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture2.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture2.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture2.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>


    <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture3.jpg" onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id03" class="w3-modal">
             <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture3.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture3.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture3.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture3.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>

  </div>
<br>
<br>
   <div class="row ">
    <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture4.jpg" onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id04" class="w3-modal">
              <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture4.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture4.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture4.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture4.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>


        <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture5.jpg" onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id05" class="w3-modal">
              <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture5.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture5.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture5.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture5.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>


    <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture6.jpg" onclick="document.getElementById('id06').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id06" class="w3-modal">
               <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture6.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture6.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture6.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture6.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>

  </div>
<br>
<br>
  <div class="row ">
    <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture7.jpg" onclick="document.getElementById('id07').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id07" class="w3-modal">
             <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture7.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture7.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture7.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture7.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>


        <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture8.jpg" onclick="document.getElementById('id08').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id08" class="w3-modal">
             <div class="w3-modal-content">
               <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture8.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture8.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture8.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture8.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>


    <div class="col-sm-4 images" >
	   <div class="w3-container">
        <img src="image/picture9.jpg" onclick="document.getElementById('id09').style.display='block'" class="w3-button w3-black" alt="Picture" width="420" height="450">
          <div id="id09" class="w3-modal">
              <div class="w3-modal-content" style="height: 600px; width:750px;">
                <div class="w3-container">
                  <span onclick="document.getElementById('id09').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                   
		             <div class="container-fluid" >
						<div class="row">
						  <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture9.jpg" alt="burger" width="100" height="95" style="margin-bottom: -300px;"> 
							  <br>
					          <img src="image/picture9.jpg" alt="burger" width="100" height="95" style="margin-bottom: -490px;"> 
							  <br>
				              <img src="image/picture9.jpg" alt="burger" width="100" height="95" style="margin-bottom: -680px;"> 
						  </div>
                          <div class="col-sm-4" style="text-align:center">
							  <img src="image/picture9.jpg" alt="burger" width="240" height="320" style="margin-bottom: -550px;"> 
						  </div>
						  <div class="col-sm-4" style="text-align:center">
                             <p style="margin-bottom: 150px;"></p>
							 <h3>(restaurant name)</h3>
							 <b>Restaurant Description</b>
							 <b style="color:#ff0000">- this restaurant offers...</b>
                             <p style="color:#ff0000">Buy 1 Get 1 Free! (Every Thursday) </p>
							

					      </div>
                       </div>
                     </div>
                </div>
             </div>
          </div>
         </div>
	   	 <center><b></b>&nbsp;&nbsp;<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                   <br><br>
				   
					<button type="button" onclick="myFunction1()"> <span style='font-size:25px;'>&#128523;</span> </button>
					<button type="button" onclick="myFunction2()"> <span style='font-size:25px;'>&#128522;</span> </button>
                    <!-- Meh -->
                    <button type="button" onclick="myFunction3()"> <span style='font-size:25px;'>&#128528;</span> </button>

                    <!-- Almost Perfect -->
                    <button type="button" onclick="myFunction4()"> <span style='font-size:25px;'>&#128544;</span> </button>

                    <!-- Need the Sauce -->
                       <button type="button" onclick="myFunction5()"> <span style='font-size:25px;'>&#128566;</span> </button>
     </center>
	</div>

  </div>

  </div>
   <br>
  <br>
</div>

        <!-- Navigation Bar Code -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">Team Best Ranch</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsingNavbar1">
                        ☰
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="collapsingNavbar1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="rankings.html">Ratings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signup.html">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End of Navigation Bar -->


      
        <!-- End of Ranch Rating -->


 

        <!-- Footer -->
        <footer class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Team Best Ranch</h3>
                    <br>
                    <h4>Team Members...</h4>
                </div>
                <div class="col-sm-4">
                    <h3>Github Repository</h3>
                    <br>
                    <a href="https://github.com/TeamBestRanch/TeamBestRanch.github.io" class="">Note</a>
                </div>
                <div class="col-sm-4">
                    <h3>Note</h3>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
		
		<div id="myModal" class="modal">
		  <span class="close">&times;</span>
		  <img class="modal-content" id="img01">
		 <div id="caption"></div>
       </div>


<script>
function myFunction1() {
  alert("NEED THE SAUCE");
}
function myFunction2() {
  alert("perfect");
}
function myFunction3() {
  alert("Meh");
}
function myFunction4() {
  alert("Hate It");
}
function myFunction5() {
  alert("Abstain");
}
</script>

<script>
var modal = document.getElementById("myModal");
var img = document.getElementById("myImg");
var img2 = document.getElementById("myImg2");
var img3 = document.getElementById("myImg3");
var img4 = document.getElementById("myImg4");
var img5 = document.getElementById("myImg5");
var img6 = document.getElementById("myImg6");
var img7 = document.getElementById("myImg7");
var img8 = document.getElementById("myImg8");
var img9 = document.getElementById("myImg9");

var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img2.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img3.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img4.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img5.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img6.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img7.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img8.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
img9.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
  
}
var span = document.getElementsByClassName("close")[0];
span.onclick = function() { 
  modal.style.display = "none";
}
</script>

        <!-- Scripts Section -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>

</html>
