<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link href="https://fonts.googleapis.com/css2?family=Slackey&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tienne:wght@700&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/all.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navbar.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='userpage.css') }}"
    />

  <body>
   <!-- Navigation Bar Code -->
    <nav class="navbar fixed-top" role="navigation">
      <!-- If the user is logged in, this navbar is shown -->
      {% if current_user.is_authenticated %}
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Lost in Sauce</a>
        <button
          type="button"
          class="navbar-toggler d-flex align-items-end navbar-nav ml-lg-auto"
          data-toggle="collapse"
          data-target="#collapsingNavbar1"
        >
          ☰
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar1">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="UserPage">Nuggie Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="RestaurantRankings">Ranch Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="TierList">Nuggie Rank</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    <!-- If the user is not logged in, this navbar is shown -->
    {% else %}
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Lost in Sauce</a>
        <button
          type="button"
          class="navbar-toggler d-flex align-items-end navbar-nav ml-lg-auto"
          data-toggle="collapse"
          data-target="#collapsingNavbar1"
        >
          ☰
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar1">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="RestaurantRankings">Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
    </nav>
    <!-- End of Navigation Bar -->

    <!-- User Profile Code-->
    <br><br>
    <div class = "userBox">
      <h1 class = "userGreeting">How saucy are you {{current_user.fname}} {{current_user.lname}}?</h1>
      <!-- Goes through the database and inserts first name -->

      <div class="container-fluid">
        <div class="row m-y-2">
          <div class="col-lg-7 push-lg-4">
            <ul class="nav nav-tabs">
              <li class="nav-item" id = "UserNav">
                <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">User Profile</a>
              </li>

              <li class="nav-item" id = "UserNav">
                <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
              </li>
            </ul>
            <div class="tab-content p-b-3">
              <div class="tab-pane active" id="profile">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <br>
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {%if messages%}
                        {% for category, message in messages%}
                          <div class="alert alert-{{category}}">{{message}}</div>
                        {%endfor%} {%endif%} {%endwith%}
                    </div>
                    <h4 class = "userGreeting"><u>About Me</u></h4>
                    <p>
                      {{current_user.AboutUser}}
                    </p>
                    <h4 class = "userGreeting"><u>Hobbies</u></h4>
                    <p>
                      {{current_user.HobbyUser}}
                    </p>
                    <h4 class = "userGreeting"><u>Favorite Foods</u></h4>
                    <p>
                      {{current_user.FavFood}}
                    </p>
                  </div>
                </div>
                  <!--/row-->
                </div>

                <!-- Start of the EDIT PROFILE form -->
                <div class="tab-pane" id="edit">
                  <div class="container-fluid column" id="UserAccountEdit">
                    <!-- Asking User to Enter their first name -->
                    <div>
                      <br>
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {%if messages%}
                        {% for category, message in messages%}
                          <div class="alert alert-{{category}}">{{message}}</div>
                        {%endfor%} {%endif%} {%endwith%}
                    </div>
            
                    <div class="content-section">
                      <form method="POST" action="" enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        <fieldset class="form-group">
                          <br>
                          <!-- <legend class="border-bottom mb-4"><br>Account Info</legend><br> -->
                          <!-- Upload New Profile Pic For User -->
                          <div class="form-group">
                            {{form.picture.label()}}
                            {{form.picture(class="form-control-file")}}
                            {% if form.picture.errors %}
                              {%for error in form.picture.errors%}
                                <span class="text-danger">{{error}}</span><br>
                              {%endfor%}
                              <br>
                            {%endif%}
                          </div>
                          
                          <!-- Email of the User -->
                          <div class="form-group">
                            {{form.email.label(class="form-control-label")}}
            
                            <!-- Prints out errors if any-->
                            {%if form.email.errors%}
                              {{form.email(class="form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                {%for error in form.email.errors%}
                                  <span>{{error}}</span>
                                {%endfor%}
                              </div>
                              {%else%}
                                {{form.email(class="form-control form-control-lg")}}
                            {%endif%}
                          </div>

                          <!-- About You for the User -->
                          <div class="form-group">
                            {{form.aboutyou.label(class="form-control-label")}}
            
                            <!-- Prints out errors if any-->
                            {%if form.aboutyou.errors%}
                              {{form.aboutyou(class="form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                {%for error in form.aboutyou.errors%}
                                  <span>{{error}}</span>
                                {%endfor%}
                              </div>
                              {%else%}
                                {{form.aboutyou(class="form-control form-control-lg")}}
                            {%endif%}
                          </div>

                          <!-- Hobbies of the User -->
                          <div class="form-group">
                            {{form.hobby.label(class="form-control-label")}}
            
                            <!-- Prints out errors if any-->
                            {%if form.hobby.errors%}
                              {{form.hobby(class="form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                {%for error in form.hobby.errors%}
                                  <span>{{error}}</span>
                                {%endfor%}
                              </div>
                              {%else%}
                                {{form.hobby(class="form-control form-control-lg")}}
                            {%endif%}
                          </div>

                            <!-- Favorite Food of the User -->
                            <div class="form-group">
                              {{form.FavFood.label(class="form-control-label")}}
              
                              <!-- Prints out errors if any-->
                              {%if form.FavFood.errors%}
                                {{form.hobby(class="form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                  {%for error in form.FavFood.errors%}
                                    <span>{{error}}</span>
                                  {%endfor%}
                                </div>
                                {%else%}
                                  {{form.FavFood(class="form-control form-control-lg")}}
                              {%endif%}
                            </div>
            
                        </fieldset>
                        <div class="form-group">
                          {{form.submit_signup(class="btn",id = "Update")}}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            <!-- insert -->
          </div>
          <div class="col-lg-2 " id="userPic">
            <img class = "rounded-circle account-img", style="margin-left:25px;" src="{{img_file}}">
          </div>
        </div>
      </div>
    </div>
    <!-- End User Profile COde-->

    <!-- Footer -->
    <footer class="container-fluid text-center">
      <div class="footer-content">
        <div class="footer-section about-us">
          <h3>Team Best Ranch Is:</h3>
          <!-- <ul class="team-members"> -->
          Tiffanny Hernaez<br />
          Diana Joya<br />
          Mikias Zeleke<br />
          Patrick Kilroy<br />
          Jeffrey Russell<br />
          <!-- </ul> -->
        </div>
        <div class="footer-section repository">
          <h3>Github Repository</h3>
          <a href="https://github.com/TeamBestRanch/TeamBestRanch.github.io">
            <!-- <img src="src={{ url_for('static', filename='img/github.jpg')}}"></img> -->
            <i class="fab fa-github" href=""></i>
          </a>
        </div>
        <div class="footer-section logo">
          <a href="home">
            <img
              class="footer-logo"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt="TeamBestRanch Logo"
            />
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; TeamBestRanch.github.io | Designed by Team Best Ranch
      </div>
    </footer>
    <!-- End of Footer -->

    <!-- Scripts Section -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
