<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Slackey&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tienne:wght@700&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/all.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='forms.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navbar.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='landing.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    {% if title %}
    <title>Best Ranch - {{ title }}</title>
    {% else %}
    <title>Best Ranch</title>
    {% endif %}
  </head>
  <body>
    <!-- Navigation Bar Code -->
    <nav class="navbar fixed-top" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Lost in Sauce</a>
        <button
          type="button"
          class="navbar-toggler d-flex align-items-end navbar-nav ml-lg-auto"
          data-toggle="collapse"
          data-target="#collapsingNavbar1"
        >
          ☰
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar1">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="RestaurantRankings">Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of Navigation Bar -->

    <!-- Log In Form for current users logging in -->
    <div class="container">
      <!-- Message to let user know they have logged in -->
      <div id="LoginForm">
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {%if messages%} 
          {% for category, message in messages%}
            <div class="alert alert-{{category}}">{{message}}</div>
          {%endfor%} {%endif%} {%endwith%}
      </div>

      <!-- Beginning of the form -->
      <div class="login">
      <div class="content-section">
        <form method="POST" action="">
          {{form.hidden_tag()}}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            <!-- Email of the User -->
            <div class="form-group">
              {{form.email.label(class="form-control-label")}}

              <!-- Prints out errors if any-->
              {%if form.email.errors%} 
                {{form.email(class="form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.email.errors%}
                    <span>{{ error }}</span>
                  {%endfor%}
                </div>
              {%else%} 
                {{form.email(class="form-control form-control-lg")}}
              {%endif%}
            </div>

            <!-- Password for the User -->
            <div class="form-group">
              {{form.password.label(class="form-control-label")}}

              <!-- Prints out errors if any-->
              {%if form.password.errors%} {{form.password(class="form-control-lg
              is-invalid")}}
              <div class="invalid-feedback">
                {%for error in form.password.errors%}
                <span>{{error}}</span>
                {%endfor%}
              </div>
              {%else%} {{form.password(class="form-control form-control-lg")}}
              {%endif%}
            </div>
          </fieldset>
          <div class="form-group">
            {{form.submit_login(class="btn btn-default")}}
          </div>
        </form>
      </div>

      <!-- Asking user if they need an account -->
      <div class="border-top pt-3">
        <large class="text-muted">
          Need an Account?<a class="ml-2" href="{{url_for('signup')}}"
            >Sign Up</a
          >
        </large>
      </div>

      <!-- If user forgot their password -->
      <!-- <small class="text-muted ml-2">
        <a href="#">Forgot Password?</a>
      </small> -->
        </div>
      </div>
    <br />

    <!-- Footer -->
    <footer class="container-fluid text-center">
      <div class="footer-content">
        <div class="footer-section about-us">
          <h3>Team Best Ranch Is:</h3>
          <!-- <ul class="team-members"> -->
          Tiffanny Hernaez<br />
          Diana Joya<br />
          Mikias Zeleke<br />
          Patrick Kilroy<br />
          Jeffrey Russell<br />
          <!-- </ul> -->
        </div>
        <div class="footer-section repository">
          <h3>Github Repository</h3>
          <a href="https://github.com/TeamBestRanch/TeamBestRanch.github.io">
            <!-- <img src="src={{ url_for('static', filename='img/github.jpg')}}"></img> -->
            <i class="fab fa-github" href=""></i>
          </a>
        </div>
        <div class="footer-section logo">
          <a href="home">
            <img
              class="footer-logo"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt="TeamBestRanch Logo"
            />
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; TeamBestRanch.github.io | Designed by Team Best Ranch
      </div>
    </footer>
    <!-- End of Footer -->

    <!-- Scripts Section -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
