/* Navigation Styling */

.navbar {
    /* background-color: #23415C; */
    background: transparent;
    border: 0;
    padding: .5% 0;
    font-size: 1.2em;
}

.navbar-default .navbar-brand {
    min-height: 55px;
    padding: 10px 15px 5px;
    color: #D3AF37;
    vertical-align: center;
    font-family: 'Bungee Shade', cursive;
}

.navbar-default .navbar-nav li a {
    color: #3F403F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #D3AF37;
}