html, body {
    height: 100%;
    width: 100%;
}

/* Ranking Page Styling */
#ranch-list {
    background: url(img/background.jpg) no-repeat center center fixed;
    display: table;
    height: 83%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.ranch-list-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}