html,
body {
  height: 100%;
  width: 100%;
  font-family: "Tienne", serif;
  background: url("../static/img/chickenBG1.png");
  background-size: 100%;
}

.container {
  display: table;
  height: 100%;
  position: relative;
  width: 50%;
  background-size: cover;
  padding-top: 18%;
}

#TierList {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  height: 100%;
  background-clip: border-box;
  padding: 15px;
  margin-top: 75px;
}
